# Compiled class files
/bin/
/target/
*.class

# Log files
*.log
/logs/

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Application specific
application-dev.yml
application-local.yml

/build/classes/java/main/followarcane/wow_lfg_discord_bot/infrastructure/properties/ApiProperties.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/infrastructure/config/AppConfig.class
/build/resources/main/application.properties
/build/resources/main/application.yml
/build/resources/main/application-local.yml
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/AuthService.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/BossRankResponse$BossRankResponseBuilder.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/BossRankResponse.class
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/CharacterInfoResponse$CharacterInfoResponseBuilder.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/CharacterInfoResponse.class
/.gradle/8.8/checksums/checksums.lock
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/util/ClassColorCodeHelper.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/request/CodeRequest.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/CustomUserDetailsService.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/DataFetcherService$1.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/DataFetcherService.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/DiscordBotService.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/model/DiscordChannel.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/repository/DiscordChannelRepository.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/request/DiscordChannelRequest.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/controller/DiscordController.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/model/DiscordServer.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/repository/DiscordServerRepository.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/request/DiscordServerRequest.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/DiscordService.class
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/followarcane/wow_lfg_discord_bot/infrastructure/config/JDAConfig.class
/.gradle/8.8/fileChanges/last-build.bin
/build/tmp/bootJar/MANIFEST.MF
/.gradle/8.8/checksums/md5-checksums.bin
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/model/Message.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/repository/MessageRepository.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/controller/OAuthController.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/RaiderIODataResponse$RaiderIODataResponseBuilder.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/RaiderIODataResponse.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/RaidProgressionResponse$RaidProgressionResponseBuilder.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/RaidProgressionResponse.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/RequestConverter.class
/build/resolvedMainClassName
/.gradle/8.8/fileHashes/resourceHashesCache.bin
/build/classes/java/main/followarcane/wow_lfg_discord_bot/security/config/SecurityConfig.class
/.gradle/8.8/checksums/sha1-checksums.bin
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/controller/StatisticController.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/StatisticsResponse.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/dto/TextChannelDTO$TextChannelDTOBuilder.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/dto/TextChannelDTO.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/security/filter/TokenAuthenticationFilter.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/security/util/TokenValidationUtils.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/model/User.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/repository/UserRepository.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/request/UserRequest.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/model/UserSettings.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/repository/UserSettingsRepository.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/request/UserSettingsRequest.class
/build/resources/main/db/migration/V1__Create_schema.sql
/build/classes/java/main/followarcane/wow_lfg_discord_bot/infrastructure/service/version/VersionNotifierService.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/infrastructure/service/version/VersionStorageService.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/WarcraftLogsDataResponse$WarcraftLogsDataResponseBuilder.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/WarcraftLogsDataResponse.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/infrastructure/config/WebConfig$1.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/infrastructure/config/WebConfig.class
/build/libs/WoW-Lfg-Discord-Bot-0.0.1-SNAPSHOT.jar
/build/classes/java/main/followarcane/wow_lfg_discord_bot/WoWLfgDiscordBotApplication.class
/.idea/dataSources.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/sonarlint.xml
/.idea/uiDesigner.xml
/.idea/modules/WoW-Lfg-Discord-Bot.main.iml
/src/main/resources/application-local.yml
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/FeatureType.class
/build/tmp/jar/MANIFEST.MF
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/model/RecruitmentFilter.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/repository/RecruitmentFilterRepository.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/request/RecruitmentFilterRequest.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/RecruitmentFilterResponse.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/service/RecruitmentFilterService.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/domain/model/ServerFeature.class
/build/classes/java/main/followarcane/wow_lfg_discord_bot/application/response/ServerFeatureResponse.class
/.vscode/settings.json
/.idea/wow-lfg-discord-bot.iml
/build/
/.venv